@import '~alg-assets/styles/algolia.scss';

$top: 50%;
$left: 50%;

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.window {
  animation: {
    name: fade-in-up;
    duration: 0.25s;
    timing-function: ease-in-out;
  }
  background: $white;
  border-radius: 6px;
  box-shadow: 0 16px 32px 0 rgba(62, 57, 107, 0.1);
  display: block;
  height: 520px;
  left: $left;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: $top;
  transform: translateY(-50%) translateX(-50%);
  width: 800px;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    top: 60%;
  }
  to {
    opacity: 1;
    top: $top;
  }
}
