@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import '~alg-assets/styles/algolia.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  position: relative;
}

body {
  background: $background;
  font-size: 14px;
}